@font-face {
    font-family: titleFont;
    src: url(Tourney-Medium.ttf);

    font-weight: 900;

    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: optionFont;
    src: url(ARCADE_I.ttf);

    font-weight: 900;

    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

#menu-screen {
    text-align: center;

    display: none;
}

.title {
    height: 30vh;
    line-height: 30vh;

    font-size: 8vw;
    font-family: titleFont;

    letter-spacing: 5px;

    color: rgb(200, 200, 200);
}

.options {
    height: 70vh;
    line-height: 70vh;

    font-size: 4.5vw;
    font-family: optionFont;

    letter-spacing: 5px;

    color: rgb(200, 200, 200);
}

.option {
    width: 50%;
    height: 30vh;
    line-height: 30vh;

    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    
    border: 3px solid rgb(200, 200, 200);
}

.option:hover {
    background-color: rgb(30, 30, 30);
}

.commands {
    width: 100%;
    height: 20vh;
    line-height: 20vh;

    font-size: 3vh;

    letter-spacing: 0px;
}

.command {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    
    border: 2px solid rgb(150, 150, 150);
    border-radius: 7px;

    padding-top: 1vh;
    padding-bottom: 0.5vh;
    padding-right: 1.5vh;
    padding-left: 1vh;
    font-size: 4vh;
}

#mouse {
    margin-top: 5px;
    max-width: 5vh;
    height: auto;
}

@media screen and (min-width: 601px) {
    .command {
        font-size: 4vh;
    }
    .commands {
        font-size: 3vh;
    }
    #com-pc {
        display: table;
    }
    #com-mobile {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .command {
        font-size: 4vw;
    }
    .commands {
        font-size: 3vw;
    }
    #com-pc {
        display: none;
    }
    #com-mobile {
        display: table;
    }
}
  

.score {
    height: 10vh;
    line-height: 10vh;

    font-size: 3.5vw;
    letter-spacing: 0px;

    margin-top: 5vh;
}

#pause-menu-screen {

    text-align: center;

    display: none;

    background-color: rgb(0, 0, 0, 0.8);

}

#game-over-screen {

    text-align: center;

    display: none;

    background-color: rgb(0, 0, 0, 0.8);
}