@font-face {
    font-family: uiFont;
    src: url(ARCADE_I.ttf);

    font-weight: 900;

    -webkit-font-smoothing: none;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
}

#ui-screen {
    display: none;
    align-items: flex-end;

    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    font-size: 3vw;
    font-family: uiFont;

    z-index: 0;
}

@media screen and (min-width: 601px) {
    #ui-screen {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    #ui-screen {
        font-size: 4vw;
    }
}
  

.ui {
    width: 50vw;
}

#score-panel {
    text-align: end;
}

#health { 
    text-align: start;
}

#level-up-screen 
{
    display: none;

    font-size: 20px;
    font-family: uiFont;

    color: rgb(210, 210, 210);

    text-align: center;
}

#audio-icon {
    position: absolute;
    top: 0;
    width: 100%;

    text-align: end;

    color: rgb(180, 180, 180);
    font-size: 6vh;

    z-index: 10;
}

#volume-up {
    display: none;
    margin-left: 90vw;
}

#volume-off {
    margin-right: 3vh;
    margin-left: 90vw;
}

#pause-btn {
    display: none;

    position: absolute;
    left: 0;

    margin-left: 1vw;
    margin-top: 0.5vh;

    font-size: 23px;
    color: rgb(180, 180, 180);

    z-index: 11;
}

@media screen and (min-width: 601px) {
    #pause-btn {
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {
    #pause-btn {
        visibility: visible;
    }
}